<div class="form-container">
    <form (ngSubmit)="sendForm()" class="form-box">
        <img src="./../../../assets/images/login_logo.png" alt="">

        <div class="mat-h2"> Crie sua conta </div>

        <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirmar Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div class="form-button-row">
            <a [routerLink]="['/']">
                <button mat-flat-button class="form-button">Cancelar</button>
            </a>
            <a [routerLink]="['']">
                <button mat-flat-button color="primary" class="form-button">Confirmar</button>
            </a>
            <!-- <button mat-flat-button class="form-button">Cancelar</button> -->
            <!-- <button mat-flat-button color="primary" class="form-button">Confirmar</button> -->
        </div>
    </form>
</div>
