/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: roboto-medium;
    src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: roboto-medium !important;
    font-size: 13px;
}

.form-container{
    display: flex;
    height: 100%;
    width: 100%;
}

.form-box{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 400px;
    img{
        width: 181px;
        height: 50px;
        margin-bottom: 40px;
    }
}

.checkbox-row{
    margin-bottom: 39px;
}

.form-button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-button{
    width: 180px;
    height: 40px; 
    color: white;
}

.form-button-white{
    background-color: white;
    color: #49b4bb;
    &:hover{
        background-color: #D9F1F3;
    }
}

.text-18{
    font-size: 18px;
}

a {
    text-decoration: none;
    outline: 0;
}